middleware/public/transaction_page.html
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
    body {
      /*https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/G7KTYXm/videoblocks-animated-motion-graphics-cinema-screen-flicker-color-gradient-background-transition_rrho9mgom_thumbnail-full01.png*/
      /*https://thumbs.dreamstime.com/t/%E6%A1%86%E6%9E%B6%E8%B4%A7%E5%B8%81-7308900.jpg*/

      /*https://thumbs.dreamstime.com/z/u-s-dollar-empty-middle-area-border-70982153.jpg*/

      /*https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/aNKqAFb/falling-money-hundred-dollar-bills-on-white-background-raw-video-record_vi7np5z5l__F0000.png*/
  background-image: url("https://previews.123rf.com/images/elovich/elovich1412/elovich141200442/34787827-white-wood-texture-background.jpg");
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.4);
  /*background-position:unset;*/
  background-size: 1600px 800px;
  /*background-blend-mode:luminosity;*/
}
<!-- p.big {
  line-height: 1.8;
} -->

  </style>
</head>
<body>

  <div class="page-header">
    <h1 align="center"><b>RIT Student Transaction Form</b></h1>      
  </div>

<!-- <div class="container">
  <h2 align="center"><b>RIT Student Transaction Form</b></h2> -->
  <p class="big">
        </p>
               

  <form action="http://localhost:3000/transaction/" method="post">
    <b>Student Name:</b> <input type="text" name="    " value=${stu_name} readonly id="stud_name_id">
    <b>Student ID:</b> <input type="text" name="    " value="   " readonly id="stud_id">
    <b>Amount Due:</b> <input type="text" name="    " value="   " readonly id="amnt_due_id">
    <b>Financial Aid:</b> <input type="text" name="    " value="   " readonly id="fin_aid_id">

    <p class="big">
        </p> 
    <br>
        <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
            <label for="email"><font color="black"><b>Email ID:</b></font></label>
            <input type="Email" class="form-control" id="email_id" placeholder="Enter Email ID" name="email">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
            <label for="phone"><font color="black"><b>Phone Number:</b></font></label>
            <input type="phone" class="form-control" id="phone_id" placeholder="Enter Phone Number" name="phone">
        </div>
      </div>
        </div>

        <div class="row">
        <div class="col-sm-6">
        <div class="form-group">
            <label for="add"><font color="black"><b>Account Holder Name:</b></font></label>
          <input type="text" class="form-control" id="acc_hold_nm_id" placeholder="Enter Account Holder Name" name="accname">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
            <label for="bank_id"><font color="black"><b>Bank Name:</b></font></label>
            <input type="text" class="form-control" id="bank_id" placeholder="Enter Bank Name" name="bName">
        </div>
      </div>
        </div>
      <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
            <label for="add"><font color="black"><b>Account Number:</b></font></label>
          <input type="text" class="form-control" id="acc_num_id" placeholder="Enter Account Number" name="accnum">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
            <label for="add"><font color="black"><b>Re-enter Account Number:</b></font></label>
          <input type="text" class="form-control" id="re_acc_num_id" placeholder="Enter Account Number" name="re_accnum">
        </div>
      </div>
        </div>

         <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                  <label for="rou_id"><font color="black"><b>Routing Number:</b></font></label>
                  <input type="text" class="form-control" id="rou_id" placeholder="Enter Routing Number" name="rou">
              </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="amnt_to_be_paid_id"><font color="black"><b>Amount:</b></font></label>
                  <input type="text" class="form-control" id="amnt_to_be_paid_id">
                </div>
            </div>
        </div>
    <div style="position: absolute; left: 678px;top: 600px">
      <button type="submit" class="btn btn-primary active" value="Send">SUBMIT TRANSACTION</button>  
    </div>
    
    <div style="position: absolute; left: 678px;top: 600px">
      <button type="submit" class="btn btn-primary active" value="Send">SUBMIT TRANSACTION</button>  
    </div>
    <!-- <button type="submit" class="btn btn-default">Submit</button> -->
  </form>


</div>

</body>
</html>

middleware/views/transaction_page.pug
doctype html
html(lang='en')
  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
    style.
      body {
      /*https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/G7KTYXm/videoblocks-animated-motion-graphics-cinema-screen-flicker-color-gradient-background-transition_rrho9mgom_thumbnail-full01.png*/
      /*https://thumbs.dreamstime.com/t/%E6%A1%86%E6%9E%B6%E8%B4%A7%E5%B8%81-7308900.jpg*/
      /*https://thumbs.dreamstime.com/z/u-s-dollar-empty-middle-area-border-70982153.jpg*/
      /*https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/aNKqAFb/falling-money-hundred-dollar-bills-on-white-background-raw-video-record_vi7np5z5l__F0000.png*/
      background-image: url("https://previews.123rf.com/images/elovich/elovich1412/elovich141200442/34787827-white-wood-texture-background.jpg");
      background-repeat: no-repeat;
      background-color: rgba(0, 0, 0, 0.4);
      /*background-position:unset;*/
      background-size: 1600px 800px;
      /*background-blend-mode:luminosity;*/
      }
      <!-- p.big {
      line-height: 1.8;
      } -->
  body
    .page-header
      h1(align='center')
        b RIT Student Transaction Form
    //
      <div class="container">
      <h2 align="center"><b>RIT Student Transaction Form</b></h2>
    p.big
    form(action='http://localhost:3000/transact/', method='post')
      b Student Name:
      input#stud_name_id(type='text', name='    ', value=stu_name, readonly='')
      b Student ID:
      input#stud_id(type='text', name='    ', value=stu_id, readonly='')
      b Amount Due:
      input#amnt_due_id(type='text', name='    ', value=amt_due, readonly='')
      b Financial Aid:
      input#fin_aid_id(type='text', name='    ', value=fin_aid, readonly='')
      p.big
      br
      .row
        .col-sm-6
          .form-group
            label(for='email')
              font(color='black')
                b Email ID:
            input#email_id.form-control(type='Email', placeholder='Enter Email ID', name='email', value=email)
        .col-sm-6
          .form-group
            label(for='phone')
              font(color='black')
                b Phone Number:
            input#phone_id.form-control(type='phone', placeholder='Enter Phone Number', name='phone', value=phone)
      .row
        .col-sm-6
          .form-group
            label(for='add')
              font(color='black')
                b Account Holder Name:
            input#acc_hold_nm_id.form-control(type='text', placeholder='Enter Account Holder Name', name='accname', value=acc_hold_name)
        .col-sm-6
          .form-group
            label(for='bank_id')
              font(color='black')
                b Bank Name:
            input#bank_id.form-control(type='text', placeholder='Enter Bank Name', name='bName', value=b_name)
      .row
        .col-sm-6
          .form-group
            label(for='add')
              font(color='black')
                b Account Number:
            input#acc_num_id.form-control(type='text', placeholder='Enter Account Number', name='accnum', value=acc_num)
        .col-sm-6
          .form-group
            label(for='add')
              font(color='black')
                b Re-enter Account Number:
            input#re_acc_num_id.form-control(type='text', placeholder='Enter Account Number', name='re_accnum', value=re_acc_num)
      .row
        .col-sm-6
          .form-group
            label(for='rou_id')
              font(color='black')
                b Routing Number:
            input#rou_id.form-control(type='text', placeholder='Enter Routing Number', name='rou', value=rou_num)
        .col-sm-6
          .form-group
            label(for='amnt_to_be_paid_id')
              font(color='black')
                b Amount:
            input#amnt_to_be_paid_id.form-control(type='text', value=amn_to_be_paid, name="amnt_to_be_paid")
      div(style='position: absolute; left: 678px;top: 600px')
        button.btn.btn-primary.active(type='submit', value='Send') SUBMIT TRANSACTION
      div(style='position: absolute; left: 678px;top: 600px')
        button.btn.btn-primary.active(type='submit', value='Send') SUBMIT TRANSACTION
      // <button type="submit" class="btn btn-default">Submit</button>
